<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated MiniSQLQuery -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.mdse.minisql.query.presentation.QueryModelWizardID"
            name="%_UI_QueryModelWizard_label"
            class="org.mdse.minisql.query.presentation.QueryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QueryModelFile.gif">
         <description>%_UI_QueryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated MiniSQLQuery -->
      <editor
            id="org.mdse.minisql.query.presentation.QueryEditorID"
            name="%_UI_QueryEditor_label"
            icon="icons/full/obj16/QueryModelFile.gif"
            extensions="query"
            class="org.mdse.minisql.query.presentation.QueryEditor"
            contributorClass="org.mdse.minisql.query.presentation.QueryActionBarContributor">
      </editor>
   </extension>

</plugin>
